.font-face-gb {
  font-family: "GilroyBlack";
}

.bg-white {
  background-color: #fff;
  color: #686868;
  border-radius: 10px 10px 10px 0;
}
.bg-blue {
  background-color: #2f80ed;
  color: #fff;
  float: right;
  border-radius: 10px 10px 0 10px;
}
