.font-face-gb {
    font-family: "GilroyBlack";
   }

.bg-gray {
    background-color: #edf2fe;
    color: #686868;
    border-radius: 10px 10px 10px 0;
}   
.bg-purple {
    background-color: #8d4fff;
    color: #fff;
    float: right;
    border-radius: 10px 10px 0 10px;
}